@charset="UTF-8";

/*common*/
@import url('https://fonts.googleapis.com/css?family=Roboto');
*{font-family:'Roboto',sans-serif;}
.clearfix{*zoom:1;}
.clearfix:after{display:block;clear:both;content:"";}
.sr-only{overflow:hidden;position:absolute;width:1px;height:1px;margin:-1px;padding:0;border:0;clip:rect(0,0,0,0);}
.sr-only-focusable:active,.sr-only-focusable:focus{overflow:visible;position:absolute;z-index:40;width:auto;height:auto;margin:0;padding:2%;color:#333;clip:auto;}
a{display:inline-block;margin:0;padding:0;border:0;background:transparent;background-repeat:no-repeat;color:inherit;text-decoration:none;vertical-align:baseline;}
button{margin:0;padding:0;background:none;border:0;outline:0;cursor:pointer;}
h1,[class*="img_"],[class*="leaf_"]{background-repeat:no-repeat;}

/*layout*/
header{z-index:30;position:fixed;width:8%;height:100%;}
#container{position:absolute;left:8%;width:900%;height:100%;background-color:aqua;}
#container section{float:left;position:relative;width:10%;height:100%;border:1px solid red;background-color:#fff;}

/*header*/
header{background-color:#f7f7f7;animation:right 1.2s;}
header .header_pos{position:relative;width:1%;height:100%;margin:0 auto;}
header .header_pos .scroll{position:absolute;top:15%;left:-47px;color:#959595;font-family:'Roboto',sans-serif;font-size:13px;white-space:nowrap;transform:rotate(-90deg);}
header .header_pos .menu_btn{position:absolute;top:48%;margin-left:-23px;padding:15px;}
header .header_pos .menu_btn .menu_line{display:block;width:20px;height:1px;background-color:#333;transition:.3s;}
header .header_pos .menu_btn .menu_line:nth-child(2){margin-top:4px;margin-bottom:4px;background-color:#333;}
header .header_pos .menu_btn .closed:first-child {transform:translateY(5px)rotate(-45deg);}
header .header_pos .menu_btn .closed:nth-child(2){transform:scaleX(0)translateZ(0)}
header .header_pos .menu_btn .closed:nth-child(3){transform:translateY(-5px)rotate(45deg)}
header .header_pos .request{position:absolute;bottom:15%;left:-52px;color:#959595;font-size:13px;font-weight:00;white-space:nowrap;transform:rotate(-90deg);}
header .pagination{position:absolute;left:120%;top:8%;}
header .pagination li a{display:block;width:10px;height:10px;margin-bottom:5px;border:1px solid #959595;border-radius:50%;background-color:#f7f7f7;transition:.3s;}
header .pagination li.on a{height:0px;margin:8px 0 8px 0;border-radius:0;transform:translateY(0px)}

/*container*/
#container .sec_01{left:1%;}
#container .sec_01 h1 a{position:absolute;top:32%;width:14.5%;height:4%;background-image:url(../img/brontide-logo.svg);background-size:contain;text-indent:-9999px;animation:left 1.2s;}
#container .sec_01 h2{position:absolute;bottom:10%;right:10%;color:#f7f7f7;font-family:'Roboto',sans-serif;font-size:calc(70px + 60*(100vw - 320px)/1600);animation:left 1.2s;}
#container .sec_01 p{position:absolute;top:40%;width:40%;height:10%;color:#c6b29a;font-family:'Roboto',sans-serif;font-size:calc(15px + 13*(100vw - 320px)/1600);line-height: calc(25px + 25 *(100vw - 320px)/1600);animation:left 1.2s;}
#container .sec_01 .video_btn{position:absolute;top:67%;padding-left:40px;font-size:15px;animation:left 1.2s;}
#container .sec_01 .video_btn:after,#container .sec_01 .video_btn:before{content:"";position: absolute;top:50%;left:0;width:20px;height:1px;background:#000;}
#container .sec_01 .video_btn:before{transform-origin:0;transition:transform .3s cubic-bezier(0.25,0.1,0.25,1).2s;}
#container .sec_01 .video_btn:after{transform:scaleX(0);transform-origin:100% 100%;transition:transform .3s cubic-bezier(0.25,0.1,0.25,1);}
#container .sec_01 .video_btn:hover:before{transform:scaleX(0);transform-origin:100% 100%;transition:transform .3s cubic-bezier(0.25,0.1,0.25,1);}
#container .sec_01 .video_btn:hover:after{transform:scaleX(1);transform-origin:0;transition:transform .3s cubic-bezier(0.25,0.1,0.25,1).2s;}
#container .sec_01 .leaf_01{position:absolute;top:21%;left:-5%;width:2.5%;height:6%;background-image:url(../img/leaf_01.png);background-size:contain;animation:rightleaf_01 1.2s;transform:rotate(-25deg);}
#container .sec_01 .leaf_02{position:absolute;top:10%;left:32%;width:2.5%;height:10%;background-image:url(../img/leaf_02.png);background-size:contain;animation:leftleaf_01 1.2s;transform:rotate(55deg);}
#container .sec_01 .leaf_03{position:absolute;bottom:25%;left:18%;width:9%;height:7%;background-image:url(../img/leaf_03.png);background-size:contain;animation:leftleaf_02 1.2s;transform:rotate(-25deg);}
#container .sec_01 .imgbox{overflow:hidden;float:right;position:relative;top:0;right:-5%;z-index:10;width:57%;height:80%;}
#container .sec_01 .imgbox:after{opacity:0;float:right;content:"";position:absolute;width:100%;height:100%;background-color:#fff;animation:width 1.2s;transform-origin:0;transition:transform .3s;}
#container .sec_01 .imgbox .img_01{position:absolute;top:0;left:-30%;height:100%;transform:scale(1.3);}

#container .sec_02 .leaf_04{position:absolute;top:11%;left:16%;width:25%;height:18%;background-image:url(../img/leaf_04.png);background-size:contain;transform:rotate(25deg);}
#container .sec_02 h3{position:absolute;top:21%;left:7%;z-index:20;color:#393838;font-size:calc(42px + 48 *(100vw - 320px)/1600);font-weight:800;}
#container .sec_02 .leaf_05{position:absolute;top:22%;right:19%;width:2.5%;height:6%;background-image:url(../img/leaf_01.png);background-size:contain;transform:rotate(30deg);}
#container .sec_02 span{position:absolute;top:35%;left:21%;color:#959595;font-size:9px;letter-spacing:.5em;}
#container .sec_02 p{position:absolute;top:34%;right:34%;width:35%;font-size:calc(17px + 2*(100vw - 320px)/1600);line-height:calc(25px + 5*(100vw - 320px)/1600);letter-spacing:.015em;}
#container .sec_02 .img_02{position:absolute;bottom:0;right:0;width: 36%;height:33%;background-image:url(../img/img_02.jpg);background-size:cover;}

#container .sec_03 .img_03{position:absolute;top:0;left:0;width: 37%;height:100%;background-image:url(../img/img_03.jpg);background-position:center;background-size:120%;}
#container .sec_03 .img_04{position:absolute;top:0;left:37%;width: 63%;height:40%;background-image:url(../img/img_04.jpg);background-size:cover;}
#container .sec_03 h2{position:absolute;bottom:11%;left:-5%;color:#f7f7f7;font-family:'Roboto',sans-serif;font-size:calc(60px + 60*(100vw - 320px)/1600);}
#container .sec_03 h3{position:absolute;bottom:43%;left:34%;z-index:10;color:#393838;font-size:calc(42px + 48 *(100vw - 320px)/1600);font-weight:800;}
#container .sec_03 span{position:absolute;bottom:29%;right:54%;color:#959595;font-size:9px;letter-spacing:.5em;}
#container .sec_03 .leaf_06{position:absolute;bottom:17%;right:45%;width:13%;height:10%;background-image:url(../img/leaf_05.png);background-size:contain;transform:rotate(-25deg);}
#container .sec_03 p{position:absolute;bottom:23%;right:10%;width:35%;font-size:calc(17px + 2*(100vw - 320px)/1600);line-height:calc(25px + 5*(100vw - 320px)/1600);letter-spacing:.015em;}

#container .sec_04 .img_05{position:relative;width:100%;height:100%;background-image:url(../img/img_05.jpg);background-position:center;background-size:140%;}
#container .sec_04{z-index:10;}
#container .sec_04 .play_btn{display:block;position:absolute;top:40%;left:45%;opacity:.6;z-index:10;width:160px;height:160px;border:2px solid rgb(238,238,238);border-radius:50%;transform:scale(1);transition:transform 1s cubic-bezier(.23,1,.32,1);}
#container .sec_04 .play_btn span{position:absolute;top:50%;left:50%;color:#fff;font-size:calc(17px + 2*(100vw - 320px)/1600);}
#container .sec_04 .play_btn:hover{opacity:1;transform:scale(1.2)}
#container .sec_05{z-index:0;margin-left:-2.5%;background-color:red;}

/*animation*/
@keyframes right{from{opacity:0;transform:translateX(-100%);}to{transform:translateX(0)}}
@keyframes rightleaf_01{from{opacity:0;transform:translateX(-100%);}to{transform:translateX(0);transform:rotate(-25deg);}}
@keyframes left{from{opacity:0;transform:translateX(100%);}to{transform:translateX(0);}}
@keyframes leftleaf_01{from{opacity:0;transform:translateX(100%);}to{transform:translateX(0);transform:rotate(55deg);}}
@keyframes leftleaf_02{from{opacity:0;transform:translateX(100%);}to{transform:translateX(0);transform:rotate(-25deg);}}
@keyframes width{from{opacity:1;transform:scaleX(1);}to{opacity:1;transform:scaleX(0);}}
/*@keyframes width{from{width:(100%);}to{width:0;}}*/

/*color guide*/
/*
#f7f7f7 (header)
#959595 (header font-color)
#c6b29a (.sec_01 p)
#393838 (h3)
*/